<%- include('../partials/header') %>
<h1>My Account</h1>
<% if (message && message.length) { %>
<div class="flash-message"><%= message %></div>
<% } %> <% if (errors) { errors.forEach(e => { %>
<div class="error"><%= e.msg %></div>
<% }) } %>
<p>You're logged in.</p>
<%- include('../partials/footer') %>
