<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <!-- <div id="tools">
        <a title="Return to homepage">CSE Motors</a>
    </div> -->
    <div id="acount">
        <a title="user profile">
            <span>MY</span>
            <span>ACCOUNT</span>
        </a>
    </div>
</header>