<header id="top-header">
    <span class="siteName">
        <a href="#" title="Welcome to cse Motors">CSE Motors</a>
    </span>
    
    <div id="acount">
        <a title="user profile">
            <span>MY</span>
            <span>ACCOUNT</span>
        </a>
    </div>
</header>