<div class="hero-container">
  <section id="hero-header">
    <h1>Welcome to CSE Motors!</h1>
  </section>

  <section id="hero">
    <img
      src="/images/vehicles/delorean.jpg"
      alt="Thumbnail of an Adventador vehicle"
      aria-label="Adventador Thumbnail"
    >
    <div id="hero-text">
      <h2>DMC Delorean</h2>
      <p>3 cup holders, Superman doors, and fuzzy dice!</p>
      <a href="#" role="button" class="button" aria-label="Own a DMC Delorean today">Own Today</a>
    </div>
  </section>

  <div id="reviews-and-upgrades">
    <!-- <h2>Reviews and Upgrades</h2>  -->
    <section id="reviews">
      <h2>DMC Delorean Reviews</h2>
      <div class="review">
        <h3>◾"So fast it's almost like traveling in time." (4/5)</h3>
        <h3>◾"Coolest ride on the road." (4/5)</h3>
        <h3>◾"I'm feeling McFly!" (5/5)</h3>
        <h3>◾"The most futuristic ride of our day." (4.5/5)</h3>
        <h3>◾"80's livin and I love it!." (5/5)</h3>
      </div>
    </section>

    <section id="upgrade">
      <h2>Delorean Upgrades</h2>
      <div class="vehicle">
        <img
          src="/images/vehicles/delorean.jpg"
          alt="Delorean-car"
          aria-label="Delorean"
        >
        <h3>Delorean</h3>
        <p>Enhanced speed and futuristic design!</p>
        <a href="#" role="button" class="button" aria-label="Own a Delorean today">Own Today</a>
      </div>

      <div class="vehicle">
        <img
          src="/images/vehicles/batmobile.jpg"
          alt="Bat-mobile"
          aria-label="Batmobile"
        >
        <h3>Batmobile</h3>
        <p>Classic style with modern tech!</p>
        <a href="#" role="button" class="button" aria-label="Own a Batmobile today">Own Today</a>
      </div>

      <div class="vehicle">
        <img
          src="/images/vehicles/camaro.jpg"
          alt="Camaro-car"
          aria-label="Camaro"
        >
        <h3>Camaro</h3>
        <p>Travel through time with style!</p>
        <a href="#" role="button" class="button" aria-label="Own a Camaro today">Own Today</a>
      </div>

      <div class="vehicle">
        <img
          src="/images/vehicles/crwn-vic.jpg"
          alt="crwn-vic-car"
          aria-label="crwn-vic"
        >
        <h3>CRWN-VIC</h3>
        <p>Turn heads with fiery style!</p>
        <a href="#" role="button" class="button" aria-label="Own CRWN-VIC today">Own Today</a>
      </div>
    </section>
  </div>
</div>
